@import url("reset/reset.css");
html {
  font-size: 20px;
  color: #353535;
}

.container {
  max-width: 1100px;
  margin: 100px auto;
}

.c_title_l {
  display: inline-block;
  padding: 5px 30px;
  background-color: #cc9933;
  color: #ffffff;
}

.c_title_m {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.c_title_s01 {
  background-color: #e6e6fa;
  font-size: 1.2rem;
  padding: 3px 10px;
  margin-right: 20px;
}

.c_title_s02 {
  background-color: #b0c4de;
  font-size: 1.2rem;
  padding: 3px 10px;
  margin-right: 20px;
}

.c_flex {
  display: flex;
  justify-content: space-between;
}

.c_border {
  border: 6px solid #ff0000;
}

a {
  cursor: pointer;
}

a:link,
a:visited {
  color: #0000ff;
}

a:hover {
  color: #ff0000;
}

.objective h3 {
  margin-top: 20px;
}
.objective_left {
  width: calc(50% - 30px);
}
.objective_left p {
  font-size: 0.8rem;
}
.objective_text {
  margin-top: 10px;
  padding: 20px 20px;
}
.objective_text p {
  font-size: 0.9rem;
}
.objective_right {
  width: calc(50% - 40px);
}
.objective_right ul {
  margin-top: 20px;
  min-height: 410px;
  padding: 10px;
  border: 2px solid #000000;
}
.objective_right li {
  margin-bottom: 10px;
}
.objective_right li p {
  font-size: 0.8rem;
}

.overview p {
  margin-bottom: 10px;
}
.overview ul {
  width: 70%;
  padding: 20px 20px 15px;
}
.overview li {
  margin-bottom: 10px;
}

.program p {
  margin-bottom: 10px;
}
.program_item01 {
  width: 93%;
  padding: 20px 20px 15px;
}
.program_item01 h4 {
  margin-bottom: 10px;
}
.program_item01 p {
  margin: 10px 40px;
}
.program_item02 {
  width: 70%;
  padding: 10px 20px 15px;
  margin-top: 50px;
}

.curriculum_wrapper {
  margin-top: 20px;
  padding: 10px;
}
.curriculum p {
  margin: 25px 40px;
}
.curriculum ul {
  margin-left: 100px;
}
.curriculum_text {
  padding: 0 50px;
}

.university_place {
  margin-top: 30px;
  text-align: center;
}
.university_place img {
  width: 70%;
}
.university_kenya {
  width: 90%;
  margin: 0 auto;
}
.university_kenya_img img {
  width: 100%;
}
.university_kenya_table, .university_item_table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 5px;
  font-size: 0.8rem;
  width: 100%;
}
.university_kenya_table td, .university_item_table td {
  padding: 3px;
  background: #f5f5f5;
}
.university_kenya_table td:first-child, .university_item_table td:first-child {
  width: 35%;
}
.university_kenya_table tr:nth-child(odd) td, .university_item_table tr:nth-child(odd) td {
  background: #dcdcdc;
}
.university_items, .university_item {
  width: 95%;
  margin: 30px auto;
}
.university_name {
  justify-content: space-between;
  align-items: center;
  background-color: #a9a9a9;
  font-size: 1.2rem;
  padding: 0 10px 0 30px;
  margin: 30px 5px 0px;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: bold;
}

.information {
  width: 95%;
}
.information_item {
  margin: 30px 0 30px;
}
.information_item_table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 5px;
  width: 100%;
}
.information_item_table td {
  padding: 10px;
  background: #b0c4de;
}
.information_item_table td:first-child {
  width: 35%;
}
.information_item_table tr:nth-child(odd) td {
  background: #e6e6fa;
}
.information_item_text p:not(:first-of-type) {
  padding-left: 30px;
}
.information_application_text {
  margin-left: 100px;
}
.information_application_text span {
  margin-left: 30px;
  color: red;
}
.information_faq_ans {
  margin: 30px 20px 20px 100px;
}
.information_description p {
  margin-left: 100px;
  color: red;
}

.pamphlet h3 {
  padding: 10px;
}
.pamphlet_img {
  margin: 50px;
  text-align: center;
}
.pamphlet_pdf {
  width: 50%;
  padding: 10px 20px;
}
.pamphlet_pdf img {
  margin-left: 100px;
}/*# sourceMappingURL=style.css.map */