@charset "UTF-8";
@import url("reset/reset.css");
html {
  font-size: 20px;
  color: #353535;
  font-family: "游ゴシック", "Meiryo", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Noto Sans Japanese", sans-serif;
}

.container {
  max-width: 1100px;
  margin: 240px auto 140px;
}

.c_inner {
  max-width: 1100px;
  margin: 0 auto;
}

.c_title_l {
  display: inline-block;
  padding: 5px 30px;
  background-color: #7b401a;
  color: #ffffff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.c_title_m {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.c_title_s01 {
  background-color: #e6e6fa;
  font-size: 1.2rem;
  padding: 3px 10px;
  margin-right: 20px;
}

.c_title_s02 {
  background-color: #b0c4de;
  font-size: 1.2rem;
  padding: 3px 10px;
  margin-right: 20px;
}

.c_flex {
  display: flex;
}

a {
  cursor: pointer;
  word-break: break-all;
}

a:link,
a:visited {
  color: #0000ff;
}

a:hover {
  color: #ff0000;
}

p {
  text-align: justify;
}

.english p {
  text-align: left;
}

@media screen and (min-width: 768px) and (max-width: 1129px) {
  html {
    font-size: 18px;
  }

  .container {
    margin: 80px 30px;
  }

  .c_inner {
    margin: 0 10px;
  }

  .c_title_m {
    font-size: 1rem;
  }

  .c_title_s01 {
    background-color: #e6e6fa;
    font-size: 1rem;
    padding: 3px 10px;
    margin-right: 20px;
  }

  .c_title_s02 {
    background-color: #b0c4de;
    font-size: 1rem;
    padding: 3px 10px;
    margin-right: 20px;
  }
}
@media screen and (min-width: 361px) and (max-width: 767px) {
  html {
    font-size: 16px;
  }

  .container {
    margin: 50px 15px;
  }

  .c_inner {
    margin: 0;
  }

  .c_title_m {
    font-size: 1rem;
  }

  .c_title_s01 {
    font-size: 1rem;
    margin-right: 10px;
  }

  .c_title_s02 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 14px;
  }

  .container {
    margin: 50px 15px;
  }

  .c_inner {
    margin: 0;
  }

  .c_title_m {
    font-size: 1rem;
  }

  .c_title_s01 {
    font-size: 1rem;
    margin-right: 10px;
  }

  .c_title_s02 {
    font-size: 1rem;
  }
}
.header_fixed {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
  font-size: 0.8rem;
  margin-top: 0;
}
.header_logo {
  background: #383838;
  /* fallback for old browsers */
  background: linear-gradient(to bottom right, #383838 60%, #bdc3c7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 130px;
}
.header_logo_inner {
  justify-content: space-between;
  padding: 10px 20px;
  height: 100%;
}
.header_logo_inner h1 {
  height: 50px;
}
.header_logo_inner img {
  width: 110px;
  padding-top: 10px;
}
.header_logo_inner h2 {
  width: 70%;
  margin-top: 1%;
  color: #ffffff;
}
.header_area_title {
  width: 100%;
  padding-top: 15px;
  color: #ffffff;
}
.header_area_title_wrapper {
  display: flex;
  width: 60%;
  margin-top: 20px;
}
.header_area_title_wrapper_top {
  font-size: 1em;
  font-weight: 500;
}
.header_area_title_wrapper_bottom {
  font-size: 1em;
  font-weight: 500;
}
.header_area_lang {
  margin: auto 0 4px auto;
  height: 45px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.header_area_lang li {
  padding: 10px;
}
.header_area_lang_jp {
  background-color: #222277;
}
.header_area_lang_jp a {
  color: #ffffff;
}
.header_area_lang_english {
  background-color: #eae5e2;
}
.header_area_lang_english a {
  color: #353535;
}
.header_area_lang a {
  text-decoration: none;
}
.header_nav ul {
  justify-content: center;
}
.header_nav_bg {
  background-color: #9ccb88;
  border-top: 1px solid #eae5e2;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.header_nav li {
  width: 100px;
  height: 60px;
  text-align: center;
  display: table;
  position: relative;
  flex-grow: 1;
}
.header_nav li::before {
  position: absolute;
  content: "";
  margin: auto;
  left: 0;
  top: 2px;
  bottom: 0;
  width: 1px;
  height: 65%;
  background-color: #eae5e2;
  opacity: 0.6;
}
.header_nav li:last-of-type::after {
  position: absolute;
  content: "";
  margin: auto;
  right: 0;
  top: 2px;
  bottom: 0;
  width: 1px;
  height: 65%;
  background-color: #eae5e2;
  opacity: 0.6;
}
.header_nav li :hover {
  background: #556b2f;
  color: #ffffff;
  transition: all 0.3s;
}
.header_nav li a {
  text-decoration: none;
  color: #ffffff;
  display: table-cell;
  vertical-align: middle;
}
.header_nav li.nav05 {
  font-size: 0.7rem;
}

.header-english .header_area_title {
  padding-top: 5px;
}
.header-english .header_area_title p {
  font-size: 0.5rem;
}
.header-english .header_area_title .br-none {
  display: none;
}
.header-english .header_area_title_wrapper {
  display: block;
  margin: 0 0 0 1%;
}
.header-english .header_area_lang {
  margin: auto 0 4px auto;
  height: 45px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.header-english .header_area_lang li {
  padding: 10px;
}
.header-english .header_area_lang_jp {
  background-color: #eae5e2;
}
.header-english .header_area_lang_jp a {
  color: #353535;
}
.header-english .header_area_lang_english {
  background-color: #222277;
}
.header-english .header_area_lang_english a {
  color: #ffffff;
}
.header-english .header_area_lang a {
  text-decoration: none;
}
.header-english .header_area_title {
  font-size: 0.6rem;
}
.header-english .header_logo h2 {
  width: 70%;
  margin-top: 10px;
  font-size: 0.7rem;
  padding-left: 0;
}

@media screen and (min-width: 768px) and (max-width: 1129px) {
  .header_area_title {
    padding-top: 15px;
    font-size: 0.6rem;
  }
  .header_nav li {
    width: 70px;
    height: 50px;
    font-size: 0.6rem;
  }
  .header_nav li.nav05 {
    font-size: 0.5rem;
  }
  .header_logo {
    height: 120px;
  }
  .header_logo_inner {
    padding: 10px;
  }
  .header_logo img {
    width: 100px;
  }
  .header_logo h2 {
    margin-top: 3%;
    font-size: 0.6rem;
  }

  .header_area_title_wrapper {
    display: flex;
  }

  .header-english .header_area_title {
    font-size: 0.4rem;
  }
  .header-english .header_area .br-none {
    display: none;
  }
  .header-english .header_logo {
    height: 130px;
  }
  .header-english .header_logo h2 {
    width: 100%;
    margin-top: 10px;
    font-size: 0.7rem;
  }
  .header-english .header_nav_eng {
    font-size: 0.4rem;
  }
}
@media screen and (min-width: 361px) and (max-width: 767px) {
  .header_area_title {
    padding: 0;
    margin-left: 10px;
    font-size: 10px;
    transform: scale(0.6);
    transform-origin: 0 0;
    display: flex;
    width: 80%;
  }
  .header_area_title_top {
    width: 400px;
  }
  .header_area_title_bottom {
    width: 500px;
  }
  .header_area_title h2 {
    margin-top: 0;
  }
  .header_area_title_wrapper {
    width: 500px;
    display: block;
    margin-top: 0;
  }
  .header_area_lang {
    display: none;
  }
  .header_logo {
    height: 80px;
  }
  .header_logo_inner {
    padding: 10px 20px 20px 10px;
    justify-content: left;
  }
  .header_logo img {
    width: 40px;
    margin-right: 10px;
  }
  .header_logo h2 {
    width: 90%;
    padding: 0;
    font-size: 10px;
    transform: scale(0.7);
    transform-origin: 0 0;
    margin-left: 10px;
  }

  .header_nav {
    display: none;
  }

  .header-english .header_area_title {
    font-size: 10px;
    transform: scale(0.6);
    transform-origin: 0 0;
    display: block;
    margin: 5px 0 0 0;
    width: 80%;
  }
  .header-english .header_area_title p {
    width: 400px;
  }
  .header-english .header_area_title_wrapper {
    margin: 0 0 0 10px;
  }
  .header-english .header_area .br-none {
    display: none;
  }
  .header-english .header_logo {
    height: 80px;
  }
  .header-english .header_logo_inner {
    padding: 0px 20px 20px 10px;
  }
  .header-english .header_logo h1 {
    margin-top: 1%;
  }
  .header-english .header_logo h2 {
    width: 100%;
    margin: 0;
    font-size: 10px;
    transform: scale(0.6);
    transform-origin: 0 0;
  }
  .header-english .burger-menu_lang li {
    width: 140px;
  }
  .header-english .burger-menu_lang_jp {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .header-english .burger-menu_lang_english {
    background-color: #9ccb88;
  }
}
@media screen and (max-width: 360px) {
  .header_area_title {
    margin-left: 10px;
    font-size: 0.3rem;
    display: block;
    transform: scale(0.6);
    transform-origin: 0 0;
    padding-top: 5%;
  }
  .header_area_title h2 {
    margin-top: 0;
  }
  .header_area_title_wrapper {
    width: 500px;
    display: block;
    margin-top: 0;
  }
  .header_area_lang {
    display: none;
  }
  .header_logo {
    height: 80px;
  }
  .header_logo_inner {
    padding: 0px 20px 20px 10px;
    justify-content: left;
  }
  .header_logo img {
    width: 40px;
    margin-right: 10px;
  }
  .header_logo h1 {
    margin-top: 1%;
  }
  .header_logo h2 {
    width: 90%;
    font-size: 10px;
    transform: scale(0.6);
    transform-origin: 0 0;
    margin-left: 10px;
  }

  .header_nav {
    display: none;
  }

  .header-english .header_area_title {
    font-size: 10px;
    transform: scale(0.6);
    transform-origin: 0 0;
    display: block;
    margin: 0 0 0 0;
    width: 80%;
  }
  .header-english .header_area_title p {
    width: 300px;
  }
  .header-english .header_area_title_wrapper {
    margin: 0 0 0 10px;
  }
  .header-english .header_area .br-none {
    display: none;
  }
  .header-english .header_logo {
    height: 80px;
  }
  .header-english .header_logo_inner {
    padding: 0px 20px 20px 10px;
  }
  .header-english .header_logo h1 {
    margin-top: 1%;
  }
  .header-english .header_logo h2 {
    width: 100%;
    margin: 0;
    font-size: 10px;
    transform: scale(0.6);
    transform-origin: 0 0;
  }
  .header-english .burger-menu_lang li {
    width: 140px;
  }
  .header-english .burger-menu_lang_jp {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .header-english .burger-menu_lang_english {
    background-color: #9ccb88;
  }
}
@media screen and (min-width: 1130px) {
  .hamburger {
    display: none;
  }

  .burger-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1129px) {
  .hamburger {
    display: none;
  }

  .burger-menu {
    display: none;
  }
}
@media screen and (min-width: 361px) and (max-width: 767px) {
  /* ハンバーガーボタン */
  .hamburger {
    display: block;
    position: fixed;
    z-index: 3;
    right: 13px;
    top: 12px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 6px;
    background: #fff;
    transition: 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }

  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top: 16px;
    left: 6px;
    background: #fff;
    transform: rotate(-45deg);
  }
  .hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
    top: 16px;
    background: #fff;
    transform: rotate(45deg);
  }

  .burger-menu {
    visibility: hidden;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.6s ease, visibility 0.6s ease;
  }
  .burger-menu ul {
    margin: 40px auto;
    padding: 0;
    width: 100%;
  }
  .burger-menu li {
    list-style-type: none;
    padding: 0;
    transition: 0.4s all;
  }
  .burger-menu li:last-child {
    padding-bottom: 0;
  }
  .burger-menu li:hover {
    background: #ddd;
  }
  .burger-menu li a {
    display: block;
    color: #fff;
    padding: 0.6em 0;
    text-decoration: none;
  }

  /* このクラスを、jQueryで付与・削除する */
  .burger-menu.active {
    visibility: visible;
    opacity: 1;
  }

  .burger-menu_lang {
    margin-top: 20px;
    justify-content: center;
  }
  .burger-menu_lang li {
    border: 1px solid #ffffff;
    width: 100px;
    padding: 5px;
    margin: 10px;
    text-align: center;
  }
  .burger-menu_lang_jp {
    background-color: #9ccb88;
  }
  .burger-menu_lang_english {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .header_english .burger-menu_lang li {
    width: 110px;
  }
  .header_english .burger-menu_lang_jp {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .header_english .burger-menu_lang_english {
    background-color: #9ccb88;
  }
}
@media screen and (max-width: 360px) {
  /* ハンバーガーボタン */
  .hamburger {
    display: block;
    position: fixed;
    z-index: 3;
    right: 13px;
    top: 12px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 6px;
    background: #fff;
    transition: 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }

  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top: 16px;
    left: 6px;
    background: #fff;
    transform: rotate(-45deg);
  }
  .hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
    top: 16px;
    background: #fff;
    transform: rotate(45deg);
  }

  .burger-menu {
    visibility: hidden;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.6s ease, visibility 0.6s ease;
  }
  .burger-menu ul {
    margin: 40px auto;
    padding: 0;
    width: 100%;
  }
  .burger-menu li {
    list-style-type: none;
    padding: 0;
    transition: 0.4s all;
  }
  .burger-menu li:last-child {
    padding-bottom: 0;
  }
  .burger-menu li:hover {
    background: #ddd;
  }
  .burger-menu li a {
    display: block;
    color: #fff;
    padding: 0.6em 0;
    text-decoration: none;
  }

  /* このクラスを、jQueryで付与・削除する */
  .burger-menu.active {
    visibility: visible;
    opacity: 1;
  }

  .burger-menu_lang {
    margin-top: 20px;
    justify-content: center;
  }
  .burger-menu_lang li {
    border: 1px solid #ffffff;
    width: 100px;
    padding: 5px;
    margin: 10px;
    text-align: center;
  }
  .burger-menu_lang_jp {
    background-color: #9ccb88;
  }
  .burger-menu_lang_english {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .header_english .burger-menu_lang li {
    width: 110px;
  }
  .header_english .burger-menu_lang_jp {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .header_english .burger-menu_lang_english {
    background-color: #9ccb88;
  }
}
.footer {
  background-color: #9ccb88;
}
.footer .parallax {
  background-image: url(../img/parallax.jpg);
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  transition-property: background-position;
}
.footer .margin-no-top {
  margin-top: 0%;
  margin-bottom: 0%;
}
.footer .bg-black {
  background: #383838;
  /* fallback for old browsers */
}
.footer a {
  text-decoration: none;
}
.footer_area img {
  width: 60px;
}
.footer .banners {
  max-width: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 80px 0 80px;
}
.footer .banners .banner {
  width: 27%;
}
.footer .banners .banner a {
  display: block;
  margin: 10px;
  text-align: center;
  color: #fff;
}
.footer .banners .banner a .img {
  background-color: #fff;
  margin-bottom: 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}
.footer .banners .banner a .title {
  font-size: 0.7rem;
  line-height: 1.4em;
  font-weight: 700;
}
.footer .banners .banner a .title-bottom {
  font-size: 0.7rem;
}
.footer .banners .img-fluid {
  max-width: 60%;
  height: auto;
}
.footer .bottom {
  justify-content: space-between;
  margin: 0% auto;
  padding: 2%;
  color: #ffffff;
}
.footer .bottom_left {
  display: flex;
}
.footer .bottom_left .logo {
  margin-bottom: 3%;
}
.footer .bottom_left .logo img {
  width: 125px;
}
.footer .bottom_left .addr {
  font-size: 0.7em;
  padding: 18px;
}
.footer .bottom_right {
  width: 500px;
}
.footer .bottom_right nav#nav-footer {
  margin-top: 17px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 0.7rem;
}
.footer .bottom_right nav#nav-footer ul {
  justify-content: flex-end;
}
.footer .bottom_right nav#nav-footer ul li a {
  padding-left: 12px;
  color: #ffffff;
}
.footer .bottom_right nav#nav-footer ul li a:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 8px;
}
.footer .bottom .copyright {
  text-align: right;
  font-size: 0.6em;
}
.footer .bottom .copyright br {
  display: none;
}
.footer .bottom-english .bottom_left .addr {
  padding: 10px 0 0 30px;
}

@media screen and (min-width: 768px) and (max-width: 1129px) {
  .footer .parallax {
    height: 160px;
    background-size: 150%;
    background-position: center top -0.773px;
  }
  .footer .banners .banner {
    max-width: none;
    width: 33.3333%;
    margin: 0;
  }
  .footer_left .logo img {
    width: 110px;
  }
  .footer_left .addr {
    padding: 14px;
  }
  .footer_right .copyright {
    text-align: left;
  }
  .footer_right .copyright br {
    display: unset;
  }
}
@media screen and (min-width: 361px) and (max-width: 767px) {
  .footer .parallax {
    height: 160px;
    background-size: 220%;
    background-position: center top -0.773px;
  }
  .footer .banners .banner {
    max-width: 280px;
    margin: auto;
    width: 100%;
  }
  .footer .bottom {
    padding: 10px;
    flex-wrap: wrap;
  }
  .footer .bottom_left {
    width: 100%;
    margin-bottom: 5%;
  }
  .footer .bottom_left .logo img {
    width: 90px;
  }
  .footer .bottom_left .addr {
    padding: 12px;
  }
  .footer .bottom_right {
    width: 100%;
  }
  .footer .bottom_right nav#nav-footer {
    text-align: left;
    margin-bottom: 10px;
    margin-top: unset;
  }
  .footer .bottom_right nav#nav-footer ul {
    display: table-cell;
  }
  .footer .bottom_right .copyright {
    text-align: left;
  }
  .footer .bottom_right .copyright br {
    display: unset;
  }
}
@media screen and (max-width: 360px) {
  .footer .parallax {
    height: 160px;
    background-size: 220%;
    background-position: center top -0.773px;
  }
  .footer .banners .banner {
    max-width: 280px;
    margin: auto;
    width: 100%;
  }
  .footer .bottom {
    padding: 10px;
    flex-wrap: wrap;
  }
  .footer .bottom_left {
    width: 100%;
    margin-bottom: 5%;
  }
  .footer .bottom_left .logo img {
    width: 90px;
  }
  .footer .bottom_left .addr {
    padding: 12px;
  }
  .footer .bottom_right {
    width: 100%;
  }
  .footer .bottom_right nav#nav-footer {
    text-align: left;
    margin-bottom: 10px;
    margin-top: unset;
  }
  .footer .bottom_right nav#nav-footer ul {
    display: table-cell;
  }
  .footer .bottom_right .copyright {
    text-align: left;
  }
  .footer .bottom_right .copyright br {
    display: unset;
  }
}
.objective {
  justify-content: space-between;
}
.objective_nav .nav00 {
  background: #556b2f;
  color: #ffffff;
}
.objective.container {
  margin-top: 10%;
}
.objective h3 {
  margin-top: 20px;
}
.objective_area00 {
  width: 100%;
}
.objective_area00 p {
  text-align: center;
}
.objective_area00 img {
  max-width: 389px;
  width: 100%;
  height: auto;
}
.objective_area01 {
  margin-top: 30px;
  width: 100%;
}
.objective_area01 ul {
  margin-top: 20px;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  border: 2px solid #000000;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
.objective_area01 li {
  display: flex;
  margin-bottom: 10px;
}
.objective_area01 li p {
  font-size: 0.8rem;
  margin-right: 30px;
}
.objective_area02 {
  width: 100%;
  margin-top: 30px;
}
.objective_area02 p {
  font-size: 0.8rem;
  text-align: left;
}
.objective_text {
  margin-top: 10px;
  padding: 20px 20px;
}
.objective_text p {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

#home-face {
  margin-top: 250px;
  padding-top: 4%;
  padding-bottom: 4%;
  background-image: url("../img/bg_g.png");
  background-color: #eae5e3;
  background-repeat: round;
}

@media screen and (min-width: 768px) and (max-width: 1129px) {
  .objective {
    margin: 200px 10px 100px;
  }
}
@media screen and (min-width: 361px) and (max-width: 767px) {
  .objective {
    margin: 100px 10px 50px;
    display: block;
  }
  .objective_area01 {
    width: 100%;
  }
  .objective_area02 {
    width: 100%;
    margin-top: 30px;
  }

  #home-face {
    margin-top: 80px;
    padding-top: 8%;
    padding-bottom: 8%;
  }
}
@media screen and (max-width: 360px) {
  #home-face {
    margin-top: 90px;
  }
}
.summary_nav .nav01 {
  background: #556b2f;
  color: #ffffff;
}
.summary p {
  margin-bottom: 20px;
}
.summary ul {
  width: 70%;
  padding: 20px 20px 15px;
}
.summary li {
  margin-bottom: 50px;
}
.summary figure {
  margin-left: 18px;
  margin-bottom: 4%;
}

@media screen and (min-width: 768px) and (max-width: 1129px) {
  .summary {
    margin: 200px 10px 100px;
  }
  .summary figure img {
    width: 60%;
  }
}
@media screen and (min-width: 361px) and (max-width: 767px) {
  .summary {
    margin: 100px 10px 50px;
  }
  .summary.english {
    margin: 120px 10px 50px;
  }
  .summary ul {
    width: 80%;
    margin: 40px auto;
  }
  .summary figure img {
    width: 60%;
  }
}
.program_nav .nav02 {
  background: #556b2f;
  color: #ffffff;
}
.program p {
  margin-bottom: 10px;
}
.program_item01 {
  width: 93%;
  padding: 20px 20px 15px;
}
.program_item01 h4 {
  margin-bottom: 10px;
}
.program_item01 p {
  margin: 10px 40px;
}
.program_item02 {
  width: 90%;
  padding: 10px 20px 15px;
  margin-top: 50px;
}
.program_item02 ul {
  margin-left: 50px;
}
.program_item02 li {
  list-style: disc;
}
.program_item02 p {
  margin-left: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1129px) {
  .program {
    margin: 200px 10px 100px;
  }
}
@media screen and (min-width: 361px) and (max-width: 767px) {
  .program {
    margin: 100px 10px 50px;
  }
  .program.english {
    margin: 120px 10px 50px;
  }
  .program_item01 {
    width: 100%;
    padding: 20px 10px 15px;
  }
  .program_item01 p {
    margin: 10px 20px;
  }
  .program_item02 {
    width: 100%;
  }
}
.curriculum_nav .nav03 {
  background: #556b2f;
  color: #ffffff;
}
.curriculum_wrapper {
  margin-top: 20px;
  padding: 10px;
}
.curriculum p {
  margin: 25px 40px;
}
.curriculum ul {
  margin-left: 100px;
}
.curriculum_text {
  padding: 0 50px;
}

.english .curriculum_text p {
  text-align: justify;
}

@media screen and (min-width: 768px) and (max-width: 1129px) {
  .curriculum {
    margin: 200px 10px 100px;
  }
  .curriculum_text {
    padding: 0;
  }
}
@media screen and (min-width: 361px) and (max-width: 767px) {
  .curriculum {
    margin: 100px 10px 50px;
  }
  .curriculum.english {
    margin: 120px 10px 50px;
  }
  .curriculum p {
    margin: 10px;
    font-size: 0.9rem;
  }
  .curriculum ul {
    margin-left: 20px;
  }
  .curriculum_text {
    padding: 0;
  }
}
.university_nav .nav04 {
  background: #556b2f;
  color: #ffffff;
}
.university_place {
  margin-top: 30px;
  text-align: center;
}
.university_place img {
  width: 70%;
}
.university_partner {
  width: 90%;
  margin: 0 auto;
}
.university_partner_img img {
  width: 100%;
}
.university_partner_table, .university_item_table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 5px;
  font-size: 0.8rem;
  width: 100%;
}
.university_partner_table td, .university_item_table td {
  padding: 3px;
  background: #f5f5f5;
}
.university_partner_table td:first-child, .university_item_table td:first-child {
  width: 35%;
}
.university_partner_table tr:nth-child(odd) td, .university_item_table tr:nth-child(odd) td {
  background: #dcdcdc;
}
.university_items, .university_item {
  width: 100%;
  margin: 30px auto;
}
.university_name {
  justify-content: space-between;
  align-items: center;
  background-color: #a9a9a9;
  padding: 0 10px 0 30px;
  margin: 30px 5px 0px;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: bold;
}
.university_name img {
  width: 80px;
}

.university-english_img {
  justify-content: space-between;
  margin-top: 50px;
}
.university-english_img_partner {
  width: calc(50% - 10px);
  margin-top: 50px;
}
.university-english_img_partner img {
  width: 100%;
}
.university-english_img_japan {
  width: calc(50% - 30px);
}
.university-english_img_japan img {
  width: 100%;
}
.university-english span {
  color: red;
}

@media screen and (min-width: 768px) and (max-width: 1129px) {
  .university {
    margin: 200px 10px 100px;
  }
}
@media screen and (min-width: 361px) and (max-width: 767px) {
  .university {
    margin: 100px 10px 50px;
  }
  .university.english {
    margin: 120px 10px 50px;
  }
  .university_items, .university_item {
    width: 100%;
    margin: 30px auto;
  }
  .university_name img {
    width: 60px;
  }

  .university-english_img_partner {
    margin-top: 0;
  }
}
.admission {
  width: 95%;
}
.admission_nav .nav05 {
  background: #556b2f;
  color: #ffffff;
}
.admission_item {
  margin: 30px 0 30px;
}
.admission_item_table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 5px;
  width: 100%;
}
.admission_item_table td {
  padding: 10px;
  background: #b0c4de;
}
.admission_item_table td:first-child {
  width: 35%;
}
.admission_item_table tr:nth-child(odd) td {
  background: #e6e6fa;
}
.admission_item_table_list {
  margin-left: 20px;
  list-style: disc;
}
.admission_item_table_list li {
  list-style: disc;
  margin-left: 50px;
}
.admission_item_text p:not(:first-of-type) {
  padding-left: 30px;
}
.admission_application {
  padding: 10px;
}
.admission_application_text {
  margin-left: 100px;
}
.admission_application_text span {
  margin-left: 30px;
  color: red;
}
.admission_faq {
  padding: 10px;
}
.admission_faq_ans {
  padding: 10px;
  margin: 30px 20px 20px 100px;
}
.admission_faq_ans li {
  list-style: disc;
  margin-left: 50px;
}
.admission_description p {
  margin-left: 100px;
  color: red;
}

@media screen and (min-width: 768px) and (max-width: 1129px) {
  .admission {
    margin: 200px 10px 100px;
  }
}
@media screen and (min-width: 361px) and (max-width: 767px) {
  .admission {
    margin: 100px 10px 50px;
  }
  .admission.english {
    margin: 120px 10px 50px;
  }
  .admission_application_text {
    margin-left: 30px;
  }
  .admission_faq_ans {
    margin: 30px 20px 20px 20px;
  }

  .english .admission_item_table {
    font-size: 0.8rem;
  }
  .english .admission_item_table_list li {
    margin-left: 10px;
  }
}
.brochure_nav .nav06 {
  background: #556b2f;
  color: #ffffff;
}
.brochure h3 {
  padding: 10px;
}
.brochure_iframe {
  position: relative;
  padding-bottom: 56.25%;
  /*アスペクト比 16:9の場合の縦幅*/
  height: 0;
  overflow: hidden;
  margin: 0 auto;
}
.brochure_iframe iframe {
  position: absolute;
  top: 0;
  left: 50%;
  width: 85%;
  height: 85%;
  transform: translate(-50%, 0%);
}
.brochure_pdf {
  width: 100%;
}
.brochure_pdf p {
  text-align: center;
}
.brochure_pdf a {
  margin: 0 auto;
}
.brochure_pdf img {
  width: 30%;
  border: 1px solid black;
}

@media screen and (min-width: 768px) and (max-width: 1129px) {
  .brochure {
    margin: 200px 10px 100px;
  }
  .brochure_iframe iframe {
    width: 90%;
    height: 90%;
  }
  .brochure_pdf {
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px;
  }
  .brochure_pdf img {
    margin-left: 50px;
  }
}
@media screen and (min-width: 361px) and (max-width: 767px) {
  .brochure {
    margin: 100px 10px 50px;
  }
  .brochure.english {
    margin: 120px 10px 50px;
  }
  .brochure.english h2 {
    font-size: 0.8rem;
  }
  .brochure_iframe iframe {
    width: 100%;
    height: 100%;
  }
  .brochure_pdf {
    width: 100%;
    padding: 10px 20px;
  }
  .brochure_pdf img {
    margin-left: 0px;
  }
}
.report_nav .nav07 {
  background: #556b2f;
  color: #ffffff;
}
.report_item {
  padding: 10px 0 10px 10px;
}
.report_item_table {
  margin: 30px 10px 0 90px;
  border-collapse: separate;
  border-spacing: 5px;
  width: 90%;
}
.report_item_table td {
  padding: 10px;
  background: #b0c4de;
}
.report_item_table td:first-child {
  width: 30%;
}
.report_item_table tr:nth-child(odd) td {
  background: #e6e6fa;
}
.report_work span, .report_foreign_student span {
  margin-left: 50px;
  color: red;
}

.report-english_list {
  margin-left: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1129px) {
  .report {
    margin: 200px 10px 100px;
  }
  .report_item_table {
    margin: 30px 10px 0 30px;
  }
}
@media screen and (min-width: 361px) and (max-width: 767px) {
  .report {
    margin: 100px 10px 50px;
  }
  .report.english {
    margin: 120px 10px 50px;
  }
  .report_item_table {
    width: 100%;
    margin: 30px 0;
    font-size: 0.7rem;
  }

  .report-english h3 {
    font-size: 0.8rem;
  }
  .report-english_list {
    margin-left: 0px;
  }
}
.access_nav .nav08 {
  background: #556b2f;
  color: #ffffff;
}
.access_img {
  text-align: center;
}
.access_detail {
  margin: 50px 10px;
}
.access_detail h5 {
  text-decoration: underline;
  margin-top: 20px;
}
.access_table td {
  padding-right: 10px;
}
.access p {
  margin: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1129px) {
  .access {
    margin: 200px 10px 100px;
  }
  .access_img {
    text-align: center;
  }
  .access_img img {
    width: 80%;
  }
}
@media screen and (min-width: 361px) and (max-width: 767px) {
  .access {
    margin: 100px 10px 50px;
  }
  .access.english {
    margin: 120px 10px 50px;
  }
  .access_img {
    text-align: center;
  }
  .access_img img {
    width: 80%;
  }
}
.policy {
  margin: 18% auto;
}
.policy_title {
  font-size: 2rem;
  padding: 20px 25px 28px;
  background: #9ccb88;
  color: #ffffff;
}
.policy .content {
  padding: 30px;
}
.policy .content p {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.policy .content h3 {
  font-weight: 600;
  position: relative;
  padding-top: 13px;
  padding-left: 20px;
  margin: 0 0 1em;
  z-index: 2;
  letter-spacing: 0.08em;
}
.policy .content h3:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 45px solid #9ccb88;
  width: 45px;
  z-index: -1;
}
.policy h4 {
  font-size: 1rem;
  margin: 0 0 1em;
  line-height: 1.2em;
  position: relative;
  font-weight: 400;
  letter-spacing: 0.08em;
  padding: 2px 0 0 15px;
}
.policy h4:before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  border-left: 4px solid #9ccb88;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.policy .btn {
  display: inline-block;
  font-weight: 400;
  color: #373737;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.55;
  border-radius: 0.25rem;
}
.policy .btn-outline-dark {
  color: #343a40;
  border-color: #343a40;
}
.policy a.btn,
.policy a.btn:active,
.policy a.btn:hover {
  text-decoration: none;
}
.policy .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.policy .col-md-5 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}
.policy .col-md-7 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
.policy ol,
.policy ul {
  padding: 0;
  margin: 0 0 1em;
  list-style: none;
  counter-reset: item;
}
.policy dl,
.policy ol,
.policy ul {
  margin-bottom: 1rem;
  font-size: 0.8rem;
}
.policy a {
  text-decoration: none;
  color: #9ccb88;
}

@media screen and (min-width: 768px) and (max-width: 1129px) {
  .policy {
    margin: 200px 10px 100px;
  }
  .policy_title {
    padding: 10px;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 361px) and (max-width: 767px) {
  .policy {
    margin: 100px 10px 50px;
  }
  .policy.english {
    margin: 120px 10px 50px;
  }
  .policy_title {
    padding: 10px;
    font-size: 1.375rem;
  }
}
.site-map {
  margin: 18% auto;
}
.site-map_title {
  font-size: 2rem;
  padding: 20px 25px 28px;
  background: #9ccb88;
  color: #ffffff;
}
.site-map .content {
  padding: 30px;
}
.site-map .content ul {
  padding: 0;
  margin: 0 0 1em;
  list-style: none;
}
.site-map .content li {
  position: relative;
  padding-left: 1.2em;
  margin-top: 5px;
  margin-bottom: 5px;
}
.site-map .content ul li:before {
  position: absolute;
  left: 0;
  top: 0;
}
.site-map .content ul > li:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  color: #8f8f8f;
  font-weight: 900;
  line-height: 2em;
  font-size: 0.75rem;
  left: 4px;
}
.site-map .content ul > li ul > li:before {
  content: "";
}
.site-map .content a {
  text-decoration: underline;
  color: #9ccb88;
}

@media screen and (min-width: 768px) and (max-width: 1129px) {
  .site-map {
    margin: 200px 15px 100px;
  }
  .site-map_title {
    padding: 10px;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 361px) and (max-width: 767px) {
  .site-map {
    margin: 100px 15px 50px;
  }
  .site-map.english {
    margin: 120px 10px 50px;
  }
  .site-map_title {
    padding: 10px;
    font-size: 1.375rem;
  }
}
.contact_nav .nav09 {
  background: #556b2f;
  color: #ffffff;
}
.contact ul {
  margin: 40px;
}
.contact ul li {
  margin: 0 0 20px 100px;
}
.contact ul li:first-child {
  margin-left: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1129px) {
  .contact {
    margin: 200px 10px 100px;
  }
  .contact ul {
    margin: 30px;
  }
  .contact ul li {
    margin: 0 0 20px 80px;
  }
  .contact ul li:first-child {
    margin-left: 40px;
  }
}
@media screen and (min-width: 361px) and (max-width: 767px) {
  .contact {
    margin: 100px 10px 50px;
  }
  .contact ul {
    margin: 20px;
  }
  .contact ul li {
    margin: 0 0 20px 20px;
  }
  .contact ul li:first-child {
    margin-left: 10px;
  }
  .contact.english {
    margin: 120px 10px 50px;
  }

  .form {
    margin-left: 0px;
  }
  .form label {
    font-size: 0.6rem;
    padding: 10px;
    width: 30%;
  }
  .form label:nth-child(3),
.form :nth-child(4) {
    font-size: 0.4rem;
  }
  .form input {
    font-size: 0.6rem;
  }
  .form textarea {
    font-size: 0.6rem;
    padding: 10px;
  }
  .form_btn {
    width: 150px;
    margin: 20px auto;
  }
  .form_btn input {
    background-color: #f5f5f5;
    padding: 10px 40px;
    width: 150px;
  }
}/*# sourceMappingURL=style.css.map */