.access {
  &_nav {
    .nav08 {
      background: #556b2f;
      color: #ffffff;
    }
  }
  &_img {
    text-align: center;
  }

  &_detail {
    margin: 50px 10px;
    h5 {
      text-decoration: underline;
      margin-top: 20px;
    }
  }

  &_table {
    td {
      padding-right: 10px;
    }
  }

  p {
    margin: 10px;
  }
}

@include mq($breakpoint: tab) {
  .access {
    margin: 200px 10px 100px;
    &_img {
      text-align: center;

      img {
        width: 80%;
      }
    }
  }
}

@include mq($breakpoint: sp) {
  .access {
    margin: 100px 10px 50px;
    &.english {
      margin: 120px 10px 50px;
    }
    &_img {
      text-align: center;

      img {
        width: 80%;
      }
    }
  }
}

@include mq($breakpoint: sp_s) {
  .access {
    margin: 100px 10px 50px;
    &.english {
      margin: 120px 10px 50px;
    }
    &_img {
      text-align: center;

      img {
        width: 80%;
      }
    }
  }
}
