.brochure {
  h3 {
    padding: 10px;
  }
  &_img {
    margin: 50px;
    text-align: center;

    img {
      width: 100%;
    }
  }

  &_pdf {
    width: 100%;

    a {
      display: block;
      text-align: center;
      margin:0 auto;
    }

    img {
      width: 30%;
      border: 1px solid $color-border-black;
    }
  }
}

@include mq($breakpoint: tab) {
  .brochure {
    &_pdf {
      width: 80%;
      margin: 0 auto;
      padding: 10px 20px;

      img {
        margin-left: 50px;
      }
    }
  }
}

@include mq($breakpoint: sp) {
  .brochure {
    &_img {
      margin: 20px;
    }

    &_pdf {
      width: 100%;
      padding: 10px 20px;

      img {
        margin-left: 0px;
      }
    }
  }
}
