@include mq($breakpoint: pc) {
  .hamburger {
    display: none;
  }
  .burger-menu {
    display: none;
  }
}

@include mq($breakpoint: tab) {
  .hamburger {
    display: none;
  }
  .burger-menu {
    display: none;
  }
}

@include mq($breakpoint: sp) {
  /* ハンバーガーボタン */
  .hamburger {
    display: block;
    position: fixed;
    z-index: 3;
    right: 13px;
    top: 12px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;

    span {
      display: block;
      position: absolute;
      width: 30px;
      height: 2px;
      left: 6px;
      background: #555;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
    }
    span:nth-child(1) {
      top: 10px;
    }
    span:nth-child(2) {
      top: 20px;
    }
    span:nth-child(3) {
      top: 30px;
    }
  }

  /* ナビ開いてる時のボタン */
  .hamburger {
    &.active {
      span:nth-child(1) {
        top: 16px;
        left: 6px;
        background: #fff;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      span:nth-child(2),
      span:nth-child(3) {
        top: 16px;
        background: #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }

  .burger-menu {
    visibility: hidden;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.6s ease, visibility 0.6s ease;

    ul {
      margin: 40px auto;
      padding: 0;
      width: 100%;
    }

    li {
      list-style-type: none;
      padding: 0;
      transition: 0.4s all;
    }
    li:last-child {
      padding-bottom: 0;
    }
    li:hover {
      background: #ddd;
    }

    li a {
      display: block;
      color: #fff;
      padding: 0.6em 0;
      text-decoration: none;
    }
  }

  /* このクラスを、jQueryで付与・削除する */
  .burger-menu {
    &.active {
      visibility: visible;
      opacity: 100;
    }
  }

  .burger-menu_lang {
    margin-top: 20px;
    justify-content: center;
    li {
      border: 1px solid #ffffff;
      width: 100px;
      padding: 5px;
      margin-right: 10px;
      text-align: center;
    }

    &_jp {
      background-color: $color-main;
    }

    &_english {
      background-color: rgba(0, 0, 0, 0.9);
    }
  }

  .header_english {
    .burger-menu_lang {
      li {
        width: 140px;
      }

      &_jp {
        background-color: rgba(0, 0, 0, 0.9);
      }

      &_english {
        background-color: $color-main;
      }
    }
  }
}
