html {
    font-size: 20px;
    color: $color-text;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.c_flex {
  display: flex;
  justify-content: space-between;
}

a {
    cursor: pointer;
  }

  a:link,
  a:visited {
    color: $color-link;
  }
  
  a:hover {
    color: $color-hover;
  }