html {
  font-size: 20px;
  color: $color-text;
}

.container {
  max-width: 1100px;
  margin: 240px auto 240px;
}

.c_inner {
  max-width: 1100px;
  margin: 0 auto;
}

.c_title_l {
  display: inline-block;
  padding: 5px 30px;
  background-color: $color-c-title-l;
  color: #ffffff;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

.c_title_m {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.c_title_s01 {
  background-color: $color-accent01;
  font-size: 1.2rem;
  padding: 3px 10px;
  margin-right: 20px;
}

.c_title_s02 {
  background-color: $color-accent02;
  font-size: 1.2rem;
  padding: 3px 10px;
  margin-right: 20px;
}

.c_flex {
  display: flex;
}

a {
  cursor: pointer;
  word-break: break-all;
}

a:link,
a:visited {
  color: $color-link;
}

a:hover {
  color: $color-hover;
}

p {
  text-align: justify;
}

.english {
  p {
    text-align: left;
  }
}

@include mq($breakpoint: tab) {
  html {
    font-size: 18px;
  }

  .container {
    margin: 80px 30px;
  }

  .c_inner {
    margin: 0 30px;
  }

  .c_title_m {
    font-size: 1rem;
  }

  .c_title_s01 {
    background-color: $color-accent01;
    font-size: 1rem;
    padding: 3px 10px;
    margin-right: 20px;
  }

  .c_title_s02 {
    background-color: $color-accent02;
    font-size: 1rem;
    padding: 3px 10px;
    margin-right: 20px;
  }
}

@include mq($breakpoint: sp) {
  html {
    font-size: 16px;
  }

  .container {
    margin: 50px 15px;
  }

  .c_inner {
    margin: 0 15px;
  }

  .c_title_m {
    font-size: 1rem;
  }

  .c_title_s01 {
    font-size: 1rem;
    margin-right: 10px;
  }

  .c_title_s02 {
    font-size: 1rem;
  }


}
