.curriculum {
  &_nav {
    .nav03 {
      background: #556b2f;
      color: #ffffff;
    }
  }

  &_wrapper {
    margin-top: 20px;
    padding: 10px;
  }

  p {
    margin: 25px 40px;
  }

  ul {
    margin-left: 100px;
  }

  &_text {
    padding: 0 50px;
  }
}

.english {
  .curriculum {
    &_text {
      p {
        text-align: justify;
      }
    }
  }
}

@include mq($breakpoint: tab) {
  .curriculum {
    margin: 200px 10px 100px;
    &_text {
      padding: 0;
    }
  }
}

@include mq($breakpoint: sp) {
  .curriculum {
    margin: 100px 10px 50px;
    &.english {
      margin: 120px 10px 50px;
    }
    p {
      margin: 10px;
      font-size: 0.9rem;
    }
    ul {
      margin-left: 20px;
    }

    &_text {
      padding: 0;
    }
  }
}
