.header {
  &_fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 10;
    font-size: 0.8rem;
    background-color: #ffffff;
    margin-top: 0;
  }

  &_area {
    padding: 5px 0;
    margin: 0 auto;
    justify-content: left;

    img {
      width: 60px;
    }

    &_title {
      margin: auto 0 5px 50px;
    }

    &_lang {
      margin: auto 0 5px auto;
      height: 45px;

      li {
        border: 2px solid #192f60;
        background-color: #5a79ba;
        margin-right: 5px;
        padding: 10px;
      }

      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }

  &_nav {
    ul {
      justify-content: center;
    }

    li {
      width: 120px;
      height: 55px;
      border: 3px solid #949495;
      background-color: #dddcd6;
      text-align: center;
      display: table;
    }

    li + li {
      border-left: none;
    }

    a {
      text-decoration: none;
      color: black;
      display: table-cell;
      vertical-align: middle;
    }
  }

  &_logo {
    background-color: #eae5e3;
    margin-top: 151px;
    height: 130px;

    &_inner {
      justify-content: space-between;
      padding: 10px 70px 30px 60px;

      img {
        width: 120px;
        padding-top: 10px;
      }

      h2 {
        width: 40%;
        margin-top: 10px;
        font-size: 1rem;
      }
    }
  }
}

.header-english {
  .header {
    &_area {
      &_title {
        font-size: 0.6rem;
      }
    }

    &_logo {
      h2 {
        width: 40%;
        margin-top: 5px;
        font-size: 1rem;
      }
    }

    &_nav {
      &_eng {
        font-size: 0.4rem;
      }
    }
  }
}

@include mq($breakpoint: tab) {
  .header {
    &_area {
      &_title {
        font-size: 0.7rem;
      }

      &_lang {
        height: 40px;
        font-size: 0.6rem;
      }
    }

    &_nav {
      li {
        width: 80px;
        height: 50px;
        font-size: 0.6rem;
      }
    }

    &_logo {
      margin-top: 147px;
      height: 120px;

      img {
        width: 100px;
      }

      h2 {
        margin-top: 10px;
        font-size: 0.8rem;
      }
    }
  }

  .header-english {
    .header {
      &_area {
        &_title {
          font-size: 0.6rem;
        }
      }

      &_logo {
        h2 {
          width: 50%;
          margin-top: 50px;
          font-size: 0.9rem;
        }
      }

      &_nav {
        &_eng {
          font-size: 0.4rem;
        }
      }
    }
  }
}

@include mq($breakpoint: sp) {
  .header {
    &_area {
      img {
        padding-top: 25px;
        width: 30px;
      }
      &_title {
        margin: 30px 0 5px 40px;
        font-size: 0.6rem;
      }

      &_lang {
        display: none;
      }
    }

    &_logo {
      height: 80px;
      margin-top: 100px;

      &_inner {
        padding: 10px 20px 20px 10px;
      }

      img {
        width: 60px;
      }

      h2 {
        width: 50%;
        margin-top: 10px;
        font-size: 0.6rem;
        margin-left: 20px;
      }
    }
  }

  // ナビメニューをsmartphoneで非表示
  .header_nav {
    display: none;
  }

  // 英語版
  .header-english {
    .header {
      &_area {
        &_title {
          font-size: 0.6rem;
        }
      }

      &_logo {
        h2 {
          margin-top: 30px;
          font-size: 0.6rem;
        }
      }
    }
  }
}
