.header {
  &_fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 10;
    font-size: 0.8rem;
    background-color: #ffffff;
  }

  &_area {
    padding: 5px 0;
    margin: 0 auto;
    justify-content: left;

    img {
      width: 60px;
    }

    &_name {
      margin: auto 0 5px 50px;
    }

    &_lang {
      margin: auto 0 5px auto;
      height: 45px;

      li {
        border: 2px solid #192f60;
        background-color: #5a79ba;
        margin-right: 5px;
        padding: 10px;
      }

      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }

  &_nav {
    ul {
      justify-content: center;
    }

    li {
      width: 120px;
      height: 55px;
      border: 3px solid #949495;
      background-color: #dddcd6;
      text-align: center;
      display: table;
    }

    li + li {
      border-left: none;
    }

    a {
      text-decoration: none;
      color: black;
      display: table-cell;
      vertical-align: middle;
    }
  }

  &_logo {
    justify-content: space-between;
    margin-top: 150px;
    height: 200px;
    padding: 10px 70px 30px 60px;
    background-color: #eae5e3;

    img {
      width: 150px;
      padding-top: 30px;
    }

    h2 {
      width: 40%;
      margin-top: 30px;
      font-size: 1.2rem;
    }
  }
}

.header-english {
  &_list01 {
    font-size: 0.7rem;
  }

  &_list02 {
    font-size: 0.5rem;
  }

  h2 {
    width: 40%;
    margin-top: 5px;
    font-size: 1rem;
  }
}

// バーガーメニューをパソコンで非表示
.menu-btn {
  display: none;
}

.menu {
  display: none;
}

@include mq($breakpoint: tab) {
  .header {
    &_area {
      &_name {
        font-size: 0.7rem;
      }

      &_lang {
        height: 40px;
        font-size: 0.6rem;
      }
    }
    &_logo {
      height: 250px;

      img {
        width: 200px;
      }

      h2 {
        width: 45%;
        margin-top: 30px;
        font-size: 1rem;
      }
    }
  }

  .header-english {
    &_area {
      &_name {
        font-size: 0.6rem;
      }
    }

    h2 {
      font-size: 0.8rem;
    }
  }
}

@include mq($breakpoint: sp) {
  .header {
    &_area {
      margin: 0 10px;

      img {
        padding-top: 30px;
      }
      &_name {
        margin: auto 0 5px 20px;
        font-size: 0.6rem;
      }

      &_lang {
        margin-top: 70px;
        height: 35px;
        font-size: 0.5rem;
      }
    }
    &_logo {
      height: 200px;
      margin-top: 120px;

      img {
        width: 150px;
      }

      h2 {
        width: 50%;
        margin-top: 10px;
        font-size: 0.8rem;
      }
    }
  }

  // ナビメニューをsmartphoneで非表示
  .header_nav {
    display: none;
  }

  .menu_lang {
    margin-top: 20px;
    li {
      border: 1px solid #ffffff;
      width: 100px;
      padding: 5px;
      margin-right: 10px;
      text-align: center;
    }

    &_jp {
      background-color: #12b312;
    }

    &_english {
      background-color: rgba(0, 0, 0, 0.9);
    }
  }

  // バーガーメニュー
  /*----------------------------
* メニュー開閉ボタン
*----------------------------*/
  .menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #12b312;
    color: #fff;
  }

  /*----------------------------
* メニュー本体
*----------------------------*/
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);

    a {
      text-decoration: none;
      color: #ffffff;
    }
  }
  .menu_item {
    width: 100%;
    height: auto;
    padding: 0.5em 1em;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
  }

  /*----------------------------
* アニメーション部分
*----------------------------*/

  /* アニメーション前のメニューの状態 */
  .menu {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s linear;
  }
  /* アニメーション後のメニューの状態 */
  .menu.is-active {
    pointer-events: auto;
    opacity: 1;
  }

  // 英語版
  .header-english {
    &_area {
      &_name {
        font-size: 0.6rem;
      }
    }

    h2 {
      font-size: 0.8rem;
    }

    .menu_lang {
      li {
        width: 140px;
      }

      &_jp {
        background-color: rgba(0, 0, 0, 0.9);
      }

      &_english {
        background-color: #12b312;
      }
    }
  }
}
