.objective {
  justify-content: space-between;

  &.container {
    margin-top: 10%;
  }

  h3 {
    margin-top: 20px;
  }

  &_area01 {
    width: 100%;

    ul {
      margin-top: 20px;
      height: 300px;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 10px;
      border: 2px solid #000000;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    }

    li {
      display: flex;
      margin-bottom: 10px;

      p {
        font-size: 0.8rem;
        margin-right: 30px;
      }
    }
  }

  &_area02 {
    width: 100%;
    margin-top: 30px;

    p {
      font-size: 0.8rem;
      text-align: left;
    }
  }

  &_text {
    margin-top: 10px;
    padding: 20px 20px;

    p {
      font-size: 0.9rem;
      margin-bottom: 20px;
    }
  }
}

#home-face {
  margin-top: 250px;
  padding-top: 4%;
  padding-bottom: 4%;
  background-image: url("../img/bg_g.png");
  background-color: #eae5e3;
  background-repeat: round;
}

.english {
  .objective {
    &_text {
      p {
        text-align: justify;
      }
    }
    &_area01 {
      p {
        text-align: justify;
      }
    }
  }
}

@include mq($breakpoint: tab) {
  .objective {
    margin: 200px 10px;
  }
}

@include mq($breakpoint: sp) {
  .objective {
    margin: 100px 10px;
    display: block;

    &_area01 {
      width: 100%;
    }

    &_area02 {
      width: 100%;
      margin-top: 30px;
    }
  }
  #home-face {
    margin-top: 80px;
    padding-top: 8%;
    padding-bottom: 8%;
    &.english {
      margin-top: 100px;
    }
  }
}
