.program {
  margin: 50px;
  h2 {
    display: inline-block;
    padding: 5px 30px;
    background-color: $color-title;
    color: #ffffff;
  }

  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }

  p {
    margin-bottom: 10px;
  }

  ul {
    width: 93%;
    border: 5px solid $color-border;
    padding: 20px 20px 15px;
  }

  li {
    margin-bottom: 10px;

    h4 {
      background-color: $color-title-bg;
      font-size: 1.2rem;
      padding: 3px 10px;
    }

    p {
      margin: 10px 40px;
    }
  }

  &_item {
    width: 70%;
    border: 5px solid $color-border;
    padding: 10px 20px 15px;
    margin-top: 50px;
  }
}
