.summary {
  &_nav {
    .nav01 {
      background: #556b2f;
      color: #ffffff;
    }
  }
  p {
    margin-bottom: 20px;
  }

  ul {
    width: 70%;
    padding: 20px 20px 15px;
  }

  li {
    margin-bottom: 50px;

  }

  figure {
    margin-left: 18px;
    margin-bottom: 4%;
  }
}

.english {
  &.summary {
    p {
      // text-align: justify;
    }
  }
}

@include mq($breakpoint: tab) {
  .summary {
    margin: 200px 10px;
  }
}

@include mq($breakpoint: sp) {
  .summary {
    margin: 100px 10px;
    &.english {
      margin: 120px 10px;
    }
    ul {
      width: 80%;
      margin: 40px auto;
    }
  }
}
