//色
$color-main: #12b312;
$color-sub: #EAE5E2;
$color-c-title-l: #7b401a;
$color-border: #ff0000;
$color-border-black: black;
$color-accent01: #e6e6fa;
$color-accent02: #b0c4de;
$color-link: #0000ff;
$color-hover: #ff0000;
$coler-footer: #9CCB88;

//文字色
$color-text: #353535;
$color-text-white: #ffffff;

//フォント
$font-family: "游ゴシック","Meiryo", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro",
  "Noto Sans Japanese", sans-serif;

//サイズ
$breakpoints: (
  "sp": "screen and (max-width: 519px)",
  "tab": "screen and (min-width: 520px) and (max-width: 959px)",
  "pc": "screen and (min-width: 960px)",
);
